node_modules
**/node_modules
**/.env
.env

# Hardhat files
/cache
**/cache
/artifacts
**/artifacts

# TypeChain files
/typechain
**/typechain
/typechain-types
**/typechain-types

# solidity-coverage files
/coverage
**/coverage
/coverage.json
**/coverage.json
